crs-setup.conf
*.swp
*.swo

# The MaxMind GeoIP database can be downloaded or upgraded by running:
# util/upgrade.py geoip
util/geo-location/GeoIP.dat

# Unit test caches
.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
