[submodule "docs/OWASP-CRS-Documentation"]
	path = docs/OWASP-CRS-Documentation
	url = https://github.com/SpiderLabs/OWASP-CRS-Documentation
	branch = master
[submodule "tests/regression/OWASP-CRS-regressions"]
	path = tests/regression/OWASP-CRS-regressions
	url = https://github.com/SpiderLabs/OWASP-CRS-regressions
	branch = master
