# ---------------------------------------------------------------
# Core ModSecurity Rule Set ver.3.0.0
# Copyright (C) 2006-2013 Trustwave All rights reserved.
#
# The OWASP ModSecurity Core Rule Set is distributed under 
# Apache Software License (ASL) version 2
# Please see the enclosed LICENCE file for full details.
# ---------------------------------------------------------------

#
# The purpose of this file is to hold LOCAL exceptions for your site.
# The types of rules that would go into this file are one where you want
# to short-circuit inspection and allow certain transactions to pass through
# inspection or if you want to alter rules that are applied.
#

# 
# Example WHITELIST Rule - Disable inspection for an authorized client
#
# This ruleset allows you to control how ModSecurity will handle traffic originating
# from Authorized Vulnerability Scanning (AVS) sources.
# See related blog post -
# http://blog.spiderlabs.com/2010/12/advanced-topic-of-the-week-handling-authorized-scanning-traffic.html
#
# White-list ASV network block (no blocking or logging of AVS traffic)
# Update IP network block as appropriate for your AVS traffic
#
#SecRule REMOTE_ADDR "@ipMatch 192.168.1.100" "phase:1,id:'981033',t:none,nolog,pass,ctl:ruleEngine=Off"

#
# Example Rule Modification - Removing a specific ARGS parameter from inspection for a rule
#
# This rule shows how to conditionally white-list the "password"  parameter for rule #981260 
# when the REQUEST_URI is /index.php
#
#SecRule REQUEST_URI "@beginsWith /index.php" "id:'123',phase:1,t:none,pass, \
  nolog,ctl:ruleRemoveTargetById=981260;ARGS:password"
